table, td, th {
	border: 1px solid black;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table th {
	text-align: start;
	background: red;
}
table td {
	text-align: end;
}
table td:first-child {
	text-align: left;
}
.row-1 {
	background: pink;
}
.row-2 {
	background: whitesmoke;
}
.row-3 {
	background: lightgrey;
}
/* Your CSS Code here. */